ul {
    clear: both;
    list-style-type: none;
}

.fixed_headers {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_headers th,
.fixed_headers td {
  padding: 5px;
  text-align: left;
}
.fixed_headers td.title,
.fixed_headers th.title {
  min-width: 200px;
}
.fixed_headers td.artist,
.fixed_headers th.artist {
  min-width: 200px;
}
.fixed_headers td.album,
.fixed_headers th.album {
  min-width: 200px;
}
.fixed_headers td.length,
.fixed_headers th.length {
  width: 150px;
}
.fixed_headers thead {
  background-color: #333333;
  color: #fdfdfd;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 300px;
}
