<html>
  <head>
    <title>{% block page_title %}Penelope{% endblock %}</title>
    {% assets "css_all" -%}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
  </head>
  <body>
      {% block flash_messages %}
     
      {% endblock %}
      {% block body %}
        Body
      {% endblock %}
    {% assets "js_vendor" -%}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_main" -%}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>