<h3>Juke-partial</h3>

<library-search></library-search>
<div style="height: 300px">
<table id="playlist" class="table table-condensed">
    <thead style="display:block;">
        <tr playlist-head></tr>
    </thead>
    <tbody style="display: block; height: 300px; overflow: auto;">
        <tr ng-repeat="piste in jb.tracks.data" 
            ng-show="([piste] | filter:searchFilter).length > 0"  
            playlist-row track="piste"
            on-click="jb.clickTrack"></tr>
    </tbody>
</table>
</div>