<table class="fixed_headers">
    <thead>
        <th class="title">
            Title
        </th>
        <th class="artist">
            Artist
        </th>
        <th class="album">
            Album
        </th>
        <th class="length">
            Length
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="track in playlistCtrl.playlist" 
            class="track-row" 
            ng-class="{active: (track.pk === playlistCtrl.active.pk), selected: (track === playlistCtrl.selected)}"
            playlist-row track="track" 
            ng-click="$evalAsync(playlistCtrl.select(track))"
            ng-dblclick="playlistCtrl.activate(track, $index)"></tr>
    </tbody>
</table>