<div>
    <div>
        <strong>Now playing: </strong>
        <span class="title">{{transportCtrl.track.title}}</span>
    </div>
    <br>
    <div>
        <span class='controls'>
            <a ng-click="transportCtrl.play()"><i class='fa fa-play'></i></a>
            <a ng-click="transportCtrl.pause()"><i class='fa fa-pause'></i></a>
            <a ng-click="transportCtrl.back()"><i class='fa fa-step-backward'></i></a>
            <a ng-click="transportCtrl.fore()"><i class='fa fa-step-forward'></i></a>
    </span>
    </div>
</div>
