<ul>
    <span ng-repeat="pack in libctrl.packages">
        <a ng-click="libctrl.expand(pack)">+</a>
        <li ng-show="([pack] | filter:searchFilter).length > 0">
            {{pack.artist}} - {{pack.name}} [{{pack.year}}] <em>({{pack.num_tracks}})</em>
    
            <ul ng-show="pack.show">
                <li ng-repeat="t in pack.tracks  | orderBy: t.track_num"
                    selection-model
                    selection-model-mode="'multiple-additive'"
                    >
                    {{t.track_num}}. {{t.title}}
                </li>
            </ul>
        </li> 
    </span>
</ul>